body {
  background-color: #110;
}

.App {
  height: auto;
  font-size: 16px;
  text-align: center;
}

h1 {
  color: white;
  margin: 1em 0 0 0;
}

h2 {
  color: rgb(22, 184, 130);
  margin: 1em 0 0 0;
}

footer {
  color: white;
  opacity: .5;
  font-size: .7em;
  margin-bottom: 2.5em;
}

i {
  color: wheat;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: wheat;
}

input {
  min-height: 2em;
  border-radius: .5em 0   0 .5em;
  border: 0;
  padding-left: 1em;
}

input:focus {
  outline: none;
}

button {
  border: 0;
  outline: none;
  width: 100px;
  height: 2em;
  cursor: pointer;
  border-radius: 0 .5em .5em 0;
}

button:hover {
  background-color: rgb(22, 184, 130);
}

.movie-container {
  display: flex;
  width: auto;
  height: auto;
}

.movie-card-container {
  text-align: center;
  width: 70%;
  margin: 40px auto;
  height: auto;
}

.movie-card {
  margin: 0 auto;
  display: inline-flex;
  flex-direction: column  ;
  margin: 10px;
  max-width: 200px;
  max-height: 300px;
  color: white;
  font-size: .8em;
  padding-bottom: 5em;
  text-align: left;
  cursor: pointer;
}

.movie-card:hover {
  opacity: 0.7;
}

img {
  max-width: 200px;
  height: 300px;
  border-radius: 1em;
}

#movie-title {
  margin-top: .5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.movie-details {
  display: flex;
  justify-content: space-between;
  margin-top: .5em;
  opacity: .6;
}

#movie-type {
  font-size: .8em;
  padding: 0 .6em;
  border: 1px solid gray;
  border-radius: .5em;
}

.pageFooter {
  margin: 2em 0 4em 0;
}