body {
  background-color: #110;
}

.App {
  height: auto;
  font-size: 16px;
  text-align: center;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

h1 {
  color: white;
  margin: 1em 0 0 0;
}

h2 {
  color: rgb(22, 184, 130);
  margin: 1em 0 0 0;
}

footer {
  color: white;
  opacity: .5;
  font-size: .7em;
  margin-bottom: 2.5em;
}

i {
  color: white;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

.input-container {
  margin: 0 auto;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  max-width: 25%;
  max-height: 1em;
}

input {
  min-height: 2em;
  border-radius: .5em 0 0 .5em;
  border: 0;
  padding-left: 1em;
}

input:focus {
  outline: none;
}

#search-btn {
  background-color: rgb(22, 184, 130);
  border: 0;
  outline: none;
  width: 100px;
  padding: 0 1em;
  min-height: 2em;
  cursor: pointer;
  border-radius: 0 .5em .5em 0;
  color: white;
}

#search-btn:hover {
  background-color: #079a69;
}

input::placeholder {
  font-size: .8em;
}

button p {
  font-size: .7em;
}

.btn-container {
  margin-top: 2em;
}

.btn {
  margin: 0 .5em;
  padding: .5em 1em;
  border: 1px solid #079a69;
  border-radius: .5em;
  color: #079a69;
  background-color: #110;
  cursor: pointer;
  font-size: .7rem;
}

.btn:hover {
  background-color: #079a69;
  color: white;
}

.query-text {
  color: white;
  font-size: .85em;
  opacity: .5;
  margin-top: 1.25em;
}

.movie-container {
  display: flex;
  width: auto;
  height: auto;
}

.movie-card-container {
  text-align: center;
  width: 80%;
  margin: 1em auto;
  height: auto;
}

.movie-card {
  margin: 0 auto;
  display: inline-flex;
  flex-direction: column;
  margin: 10px;
  max-width: 12.5em;
  min-height: 30vh;
  color: white;
  font-size: .8em;
  padding-bottom: 1em;
  text-align: left;
  cursor: pointer;
}

.movie-card:hover {
  opacity: 0.7;
}

img {
  margin: 0 auto;
  max-width: 12.5em;
  border-radius: 1em;
  object-fit: cover;
}

#movie-title {
  margin-top: .5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.movie-details {
  display: flex;
  justify-content: space-between;
  margin-top: .5em;
  opacity: .6;
}

#movie-type {
  font-size: .8em;
  padding: 0 .6em;
  border: 1px solid gray;
  border-radius: .5em;
}

.pageFooter {
  margin: 2em 0 4em 0;
}

.active {
  background-color: #079a69;
  color: white;
}

@media only screen and (max-width: 768px) {
  .movie-container {
    min-width: 90%;
  }
}

@media only screen and (max-width: 481px) {
  .movie-card-container {
    width: 100%;
    margin: 1em auto;
  }

  .movie-card {
    max-width: 10.5em;
  }

  img {
    margin: 0 auto;
    max-width: 100%;
    border-radius: 1em;
    object-fit: cover;
  }
}